@media screen  and (max-width: 1024px) {
    .header_menu-item ul {
        display: none;
    }
    .header__search {
        position: relative;
        padding: 10px;
        /* font-size: 36px; */
        margin-left: 100px;
        /* text-align: center; */
    }
    .banner {
        width: calc(100% - 60px);
        flex-wrap: nowrap;
    }
    .banner__section-left img {
        width: 100%;
    }
    .banner__section-left-text {
        font-size: 16px;
    }
    .banner_section-left-btn-shop {
        bottom: 27%;
    }
    .banner__section-right {
        margin-left: 20px;
    }
    .banner__section-right-image-item-top-text {
        font-size: 12px;
        left: 32px;
    }
    .banner__section-right-image-item-bot {
        margin-top: 25px;
    }
    .banner__section-right-image-item-bot-text {
        font-size: 12px;
        left: 32px;
    } 
    .banner__section-right-image-item-bot-btn-shop {
        bottom: 34%;
        left: 33px;
    }
    .banner-section__btn {
        width: 74px;
        height: 32px;
        font-size: 12px;
    }
    .product-category__content-box {
        text-align: center;
    }
    .product-category__content-box-underlined {
        display: block;
        margin: 30px auto;
    }
    .product-category {
        width: 100%;
    }
    .product-img {
        display: block;
        width: 80%;
        margin: 0 auto;
    }
    .ads-img {
        display: block;
        width: 100%;

    } 
    .slider__post-list {
        width: calc(100% - 60px);
    }
    .slider__post-list__post-items {
        margin: 0 15px;
    }
    .footer__footer-top {
        width: calc(100% - 60px);
    }
    .footer__footer-bot-items {
        width: calc(100% - 60px);
        margin: auto;
    }
    

}
@media screen  and (max-width: 768px) {
    .banner {
        width: calc(100% - 30px);
        flex-wrap: nowrap;
    }

    .banner__section-left-text {
        font-size: 16px;
    }
    .banner_section-left-btn-shop {
        bottom: 27%;
    }
    
    .banner__section-right-image-item-top-text {
        font-size: 12px;
        left: 32px;
    }
    .banner__section-right-image-item-bot {
        margin-top: 20px;
    }
    .banner__section-right-image-item-bot-text {
        font-size: 12px;
        left: 32px;
    } 
    .banner__section-right-image-item-bot-btn-shop {
        bottom: 34%;
        left: 33px;
    }
    .banner-section__btn {
        width: 74px;
        height: 32px;
        font-size: 12px;
    }
    .product-category {
        width: calc(100% - 30px);
        text-align: center;
    }
    .ads-img {
        width: auto;
        margin: 0 auto;
    }

    .product-category__row-1 {
        width: 100%;
    }
    .product-category__row-2 {
        width: 100%;
    }

    .product-category__row-1 {
        width: 100%;
        flex-direction: column;
    }
    .product-category__row-2 {
        width: 100%;
        flex-direction: column;
    }
    .product-img p {
        margin-bottom: 30px;
    }
    .product-img__btn-add {
        left: 38%;
    }
    .slider__post-list {
        width: auto;
        display: block;
    }
    .slider__post-list__post-items {
        width: calc(80% - 60px);
        height: 100%;
        margin: 30px auto;
        flex-direction: column;
        
    }
    .footer-top {
        padding: 30px 100px;
        text-align: center;
    }
    .footer__footer-top  {
        display: block;
        padding: 0;
        width: auto;
    }

    .footer__footer-top-about-content p {
        text-align: center;
    }
    .footer__footer-top-nav-links {
        width: 100%;
    }
    .footer__footer-bot-items {
        width: auto;
        margin: 0 30px;
    }
    .footer__footer-bot-copy-right i span  {
        font-size: 8px;
        margin: 0;

    }
    .auth-form {
        width: auto;
        margin: 0;
        padding: 0;
    }
    .auth-form__container {
        display: block;
        margin: auto;
        padding: 15px;

        
    }
    .auth-form__heading {
        font-size: 14px;
        text-transform: uppercase;
    }
    .auth-form__switch-btn {
        font-size: 12px;
    }

    .auth-form__input {
        display: block;
        width: calc(100% - 20px);
        margin: 10px auto;
        justify-content: center;
    }
    .auth-form__controls {
        margin: 15px auto;
    }
    .auth-form__help-link {
        /* margin-right: 15px; */
        justify-content: center;
        margin: 0 auto;
    }
    .auth-form__socials {
        flex-direction: column;
        padding: 10px;
        margin: auto;   

    }
    .btn.btn--size-s {
        margin-bottom: 10px;
    }

    .footer__footer-top-about-content {
        width: 100%;
    }
}
@media screen  and (max-width: 480px) {
    .header__top-bar span {
        display: none;
    }
    .header__shop-setting {
        padding: 10px;
        margin: 0;
    }
    .header__login {
        padding: 10px;
    }
    .header__search {
        position: relative;
        padding: 10px;
        /* font-size: 36px; */
        margin-left: 100px;
        /* text-align: center; */
    }
    .header__menu-wrap-logo {
        width: auto;
        margin: 0;
        display: block;
    }
    .header_menu-item i {
        font-size: 24px;
    }

    .header_menu-item ul {
        display: none;
    }
    .header__search {
        padding: 10px;
    }
    .header__menu-button-wrap {
        font-size: 12px;
    }
    .banner {
        display: block;
        width: auto;
    }
    .banner__section-left {
        padding-bottom: 30px;
    }
    .banner__section-left-text {
        bottom: 41%;
        font-size: 16px;
        letter-spacing: 1px;
    }
    .banner__section-right-image-item-top-text  {
        left: 20%;
    }
    .banner__section-right {
        margin: 0;
    }
    .banner__section-left img, .banner__section-right img {
        width: calc(100% - 30px);
        margin: auto;
        flex-direction: column;
    }
    .product-category {
        width: auto;
        text-align: center;

    }
    .product-category__content-box {
        width: auto;
    }
    .product-img {
        width: 100%;
    }
    .product-img p {
        margin-bottom: 30px;
    }
    .product-img__btn-add {
        left: 38%;
    }
    .slider__post-list {
        width: auto;
        display: block;
    }
    .slider__post-list__post-items {
        width: calc(100% - 30px);
        height: 100%;
        margin: 30px auto;
        flex-direction: column;
        
    }
    .footer-top {
        padding: 30px;
        text-align: center;
    }
    .footer__footer-top  {
        display: block;
        padding: 0;
        width: auto;
    }

    .footer__footer-top-about-content p {
        text-align: center;
    }
    .footer__footer-top-nav-links {
        width: 100%;
    }
    .footer__footer-bot-items {
        width: auto;
        margin: 0 10px;
    }
    .footer__footer-bot-copy-right i span  {
        font-size: 8px;
        margin: 0;

    }
    .auth-form {
        width: auto;
        margin: 0;
        padding: 0;
    }
    .auth-form__container {
        display: block;
        margin: auto;
        padding: 15px;

        
    }
    .auth-form__heading {
        font-size: 14px;
        text-transform: uppercase;
    }
    .auth-form__switch-btn {
        font-size: 12px;
    }

    .auth-form__input {
        display: block;
        width: calc(100% - 20px);
        margin: 10px auto;
        justify-content: center;
    }
    .auth-form__controls {
        margin: 15px auto;
    }
    .auth-form__help-link {
        /* margin-right: 15px; */
        justify-content: center;
        margin: 0 auto;
    }
    .auth-form__socials {
        flex-direction: column;
        padding: 10px;
        margin: auto;   

    }
    .btn.btn--size-s {
        margin-bottom: 10px;
    }

    .footer__footer-top-about-content {
        width: 100%;
    }
}


@media screen  and (max-width: 320px){
    .header__menu-wrap-logo {
        width: 50%;
        margin-left: 5px;
        display: block;
    }
    
    .header__menu-button-wrap {
        font-size: 12px;
    }
    .header__menu-wrap {
        padding: 0;
    }
    .banner {
        display: block;
        width: auto;
    }
    .banner__section-left {
        padding-bottom: 20px;
    }
    .banner__section-left-text {
        bottom: 42%;
        /* right: 43%; */
        font-size: 12px;
    }
    
    
    .banner__section-left img,
    .banner__section-right img {
        width: calc(100% - 30px);
        margin: auto;
        flex-direction: column;
    }
    .product-category {
        width: auto;
        text-align: center;

    }
    .product-category__content-box {
        width: auto;
    }
    
    .product-category__row-1 {
        width: 100%;
        flex-direction: column;
    }
    .product-category__row-2 {
        width: 100%;
        flex-direction: column;
    }
    

    .product-img p {
        margin-bottom: 30px;
    }
    .product-img__btn-add {
        left: 30%;
    }
    .slider__post-list {
        width: auto;
        display: block;
    }
    .slider__post-list__post-items {
        width: calc(100% - 30px);
        margin: 30px auto;
        flex-direction: column;
        
    }
    .footer-top {
        padding: 30px;
        text-align: center;
    }
    .footer__footer-top  {
        display: block;
        padding: 0;
        width: auto;
    }
    .footer__footer-top-nav-links {
        width: 100%;
    }
    .footer__footer-bot-items {
        display: block;
        justify-content: center;
        margin: 20px 0 0 0;
    }
    .footer__footer-bot-copy-right i span  {
        font-size: 8px;
        margin: 0;

    }
    .footer__footer-card-payment {
        text-align: center;
        margin: 10px auto;
    
    }
    .auth-form {
        width: auto;
        margin: 0;
        padding: 0;
    }
    .auth-form__container {
        display: block;
        margin: auto;
        padding: 15px;

        
    }
    .auth-form__heading {
        font-size: 14px;
        text-transform: uppercase;
    }
    .auth-form__switch-btn {
        font-size: 12px;
    }

    .auth-form__input {
        display: block;
        width: calc(100% - 20px);
        margin: 10px auto;
        justify-content: center;
    }
    .auth-form__controls {
        margin: 15px auto;
    }
    .auth-form__help-link {
        /* margin-right: 15px; */
        justify-content: center;
        margin: 0 auto;
    }
    .auth-form__socials {
        flex-direction: column;
        padding: 10px;
        margin: auto;   

    }
    .btn.btn--size-s {
        margin-bottom: 10px;
    }
}

    