@media screen  and (max-width: 1024px) {
    .header__menu-wrap-logo {
        left: 40%;
    }
    .header_menu-item {
        display: none;
    }
    .nav-bar__btn {
        display: block;
    }
    .banner {
        width: calc(100% - 60px);
        flex-wrap: nowrap;
    }
    .banner__section-right {
        margin-left: 20px;
    }
    .banner__right-bot {
        margin-top: 25px;
    }
    .product-item{
        width: calc(33.333% - 30px);
    }
    .product-category{
       width: calc(100% - 60px);
    }
    .ads-img {
        display: block;
        width: 100%;
    } 
    .slider__post-list{
        width: calc(100% - 40px);
    }
    .slider__post-items {
        margin: 0 10px;
        
    }
    .footer__footer-top {
        width: calc(100% - 60px);
        justify-content: space-between;
    }
    .footer-bot__items {
        width: calc(100% - 60px);
    }
    .footer-top__about,
    .footer__footer-top-nav
    {
        margin: 0;
    }

    .auth-form {
        width: auto;
        height: auto;
        margin: 0;
        padding: 0;
    }
    .auth-form__container {
        display: block;
        margin: auto;
        padding: 15px;
    }
    .auth-form__heading {
        font-size: 14px;
        text-transform: uppercase;
    }
    .auth-form__switch-btn {
        font-size: 12px;
    }
    .auth-form__input {
        display: block;
        width: calc(100% - 20px);
        margin: 10px auto;
        justify-content: center;
    }
    .auth-form__controls {
        margin: 15px auto;
    }
    .auth-form__help-link {
        justify-content: center;
        margin: 0 auto;
    }
    .auth-form__socials {
        flex-direction: column;
        padding: 10px;
        margin: auto;   

    }
    .btn.btn--size-s {
        margin-bottom: 10px;
    }
}

@media screen  and (max-width: 768px)  {
    .banner {
        width: calc(100% - 60px);
        flex-wrap: nowrap;
    }
    .banner__left-text {   
        font-size: 18px;
    }
    .banner__left-btn {
        right: 64px;
        bottom: 86px;
    }
    .banner__right-top-text {
        font-size: 12px;
        left: 30px;
    }
    .banner__right-bot {
        margin-top: 19px;
    }
    .banner__right-bot-text {
        font-size: 14px;
        left: 20px;
    }
    .banner__right-btn {
        bottom: 60px;
        left: 16px;
    }
    .product-item{
        width: calc(33.333% - 30px);
    }
    .product-category{
        width: calc(100% - 60px);
    }
    .post-contents {
        margin-right: 8px;
    }
    .post-contents span {
        font-size: 12px;
    }
    .footer__footer-top {
        flex-wrap: wrap;
    }
    .footer__footer-top-shop{
        margin-top: 30px;
    }
}

@media screen  and (max-width: 480px) {
    .header__top-bar span,
    .header_menu-item {
        display: none;
    }
    .header__shop-setting,
    .header__login {
        padding: 10px;
    }
    .header__menu-wrap-logo {
        width: auto;
        margin: 0;
        display: block;
        left: 30%;
    }
    .header_menu-item i {
        font-size: 24px;
    }
    .header_cart-list {
        width: 300px;
        font-size: 8px;
        right: 0;
    }
    .header_cart-list::after {
        right: -2px;
    }
    .head th {
        padding: 0;
    }
    .header__menu-button-wrap {
        font-size: 12px;
    }
    .banner,
    .slider__post-list {
        display: block;
        width: auto;
    }
    
    .banner__section-left {
        padding-bottom: 20px;
    }
    .banner__right-top-text {
        font-size: 18px;
        left: 80px;
    } 
    .banner__right-bot-text {
        font-size: 24px;
        left: 30px;
    }
    .banner__right-btn {
        bottom: 140px;
        left: 40px;
    }
    .product-item{
        width: calc(50% - 30px);
    }
    .product-category{
        padding: 0 20px;
    }
    .banner__section-left,
    .banner__section-right {
        width: calc(100% - 60px);
        margin: auto;
        flex-direction: column;
    }
    .slider__post-items {
        width: calc(100% - 60px);
        height: 100%;
        margin: 30px auto;
        flex-direction: column;
        
    }
    .footer-top {
        padding: 30px;
        text-align: center;
    }
    .footer__footer-top {
        margin: 0 auto;
    }
    .footer__footer-top-nav {
        margin-top: 30px;
    }
    .footer-top__nav-links {
        width: 100%;
    }
    .footer-bot__items {
        width: calc(100% - 20px);

    }

}


@media screen  and (max-width: 320px){
    .header__menu-wrap-logo {
        width: 50%;
        display: block;
        left: 16%;
    }
    .header__menu-button-wrap {
        font-size: 12px;
    }
    .header__menu-wrap {
        padding: 0;
    }
    .banner__left-btn {
        right: 36px;
        bottom: 42px;
    }
    .banner__left-text {
        font-size: 14px;
        bottom: 90px;
        right: 22px;
    }
    .banner__right-top-text {
        left: 40px;
    }
    .banner__right-bot-text {
        font-size: 18px;
    }
    .banner__right-btn {
        bottom: 60px;
        left: 34px;
    }
    .banner,
    .slider__post-list {
        display: block;
        width: auto;
    }
    .banner__section-left {
        padding-bottom: 20px;
    }
    .product-item{
        width: calc(100% - 30px);
    }
    .product-category{
        padding: 0 30px;
    }
    .banner__section-left,
    .banner__section-right {
        width: calc(100% - 30px);
        margin: auto;
        flex-direction: column;
    }
    .content-box.underlined {
        margin: 30px auto;
    }
    .product-img p {
        margin-bottom: 30px;
    }
    .product-content {
        text-align: center;
    }
    .footer-top {
        padding: 30px;
        text-align: center;
    }
    .footer-bot__items {
        width: 100%;
        display: block;
        margin-top: 20px;
    }
    .footer__footer-card-payment {
        text-align: center;
        margin: 10px auto;
    }
    .footer-bot__copy-right i span {
        font-size: 12px;
        margin: 0;
    }
}

