@media screen  and (max-width: 1080px) {
    .header__menu-wrap-logo {
        left: 40.8%;
    }
    .header_menu-item {
        display: none;
    }
    .header__menu-wrap {
        padding: 0 5px;
    }
    .nav-bar__btn {
        display: block;
    }
    .banner {
        width: calc(100% - 30px);
        flex-wrap: nowrap;
    }
    .banner__section-right {
        margin-left: 20px;
    }
    .banner__right-bot {
        margin-top: 25px;
    }
    
    .product-category{
       width: calc(100% - 30px);
    }
    .ads-img {
        display: block;
        width: 100%;
    } 
    .product-item {
        width: calc(27.8% - 60px);
    }
    .slider__post-list {
        width: calc(100% - 30px);
    }
    .post-wrap {
        height: auto;
    }
    .footer__footer-top {
        width: calc(100% - 30px);
        justify-content: space-between;
    }
    .footer-bot__items {
        width: calc(100% - 30px);
    }
    .footer-top__about,
    .footer__footer-top-nav
    {
        margin: 0;
    }

    .auth-form {
        width: auto;
        height: auto;
        margin: 0;
        padding: 0;
    }
    .auth-form__container {
        display: block;
        margin: auto;
        padding: 15px;
    }
    .auth-form__heading {
        font-size: 14px;
        text-transform: uppercase;
    }
    .auth-form__switch-btn {
        font-size: 12px;
    }
    .auth-form__input {
        display: block;
        width: calc(100% - 20px);
        margin: 10px auto;
        justify-content: center;
    }
    .auth-form__controls {
        margin: 15px auto;
    }
    .auth-form__help-link {
        justify-content: center;
        margin: 0 auto;
    }
    .auth-form__socials {
        flex-direction: column;
        padding: 10px;
        margin: auto;   

    }
    .btn.btn--size-s {
        margin-bottom: 10px;
    }
}
@media screen  and (max-width: 812px)  {
    .header__top-bar {
        padding: 0 15px;
    }
    .header__menu-wrap {
        padding: 0 5px;
    }
    .header__menu-wrap-logo {
        left: 37%;
    }
    .banner {
        width: calc(100% - 30px);
        flex-wrap: nowrap;
    }
    .banner__left-text {   
        font-size: 20px;
    }
    .banner__left-btn {
        right: 16%;
        bottom: 24%;
    }
    .banner__right-top-text {
        font-size: 12px;
        left: 30px;
    }
    .banner__right-bot {
        margin-top: 19px;
    }
    .banner__right-bot-text {
        font-size: 14px;
        left: 20px;
    }
    .banner__right-btn {
        bottom: 30%;
        left: 6%;
    }
    .product-item{
        width: calc(33.333% - 30px);
    }
    .product-category{
        width: calc(100% - 30px);
    }
    .footer__footer-top {
        width: calc(100% - 30px);
        flex-wrap: wrap;
    }
    .footer-top__shop-head,
    .footer-top__nav-head {
        text-align: center;
    }
    .footer-top__about
    {
        width: 100%;
        text-align: center;
        margin-bottom: 30px;
    }
    .footer-top__about-content {
        width: auto;
    }
    .footer-bot__items {
        width: calc(100% - 30px);
    }
}
@media screen  and (max-width: 716px) {
    .header_menu-item {
        display: none;
    }

    .header__top-bar span {
        font-size: 12px;
    }
    .header__shop-setting,
    .header__login {
        padding: 3px
    }
    .header__menu-wrap-logo {
        width: auto;
        margin: 0;
        display: block;
        left: 37%;
    }
    .header_menu-item i {
        font-size: 24px;
    }
    .header_cart-list {
        width: 300px;
        font-size: 8px;
        right: 0;
    }
    .header_cart-list::after {
        right: -2px;
    }
    .head th {
        padding: 0;
    }
    .header__menu-button-wrap {
        font-size: 12px;
    }
    .banner__left-text {
        font-size: 20px;
        right: 7%;
    }
    .banner__right-top-text,
    .banner__right-bot-text {
        font-size: 14px;
        left: 10%;
    } 
    .banner__right-btn {
        bottom: 140px;
        left: 40px;
    }
    .product-item{
        width: calc(50% - 30px);
    }
    .footer-top {
        padding: 30px;
        text-align: center;
    }
    .footer__footer-top {
        margin: 0 auto;
    }
    .footer__footer-top-nav {
        margin-top: 30px;
    }
    .footer-top__nav-links {
        width: 100%;
    }
    .footer-bot__copy-right i span {
        font-size: 12px;
    }
    .footer__footer-card-payment i {
        font-size: 14px;
        margin: 0;
    }

}
@media screen  and (max-width: 668px) {
    .header__menu-button-wrap {
        font-size: 12px;
    }
    .banner__left-btn {
        bottom: 22%;
        right: 10%;
    }
    .banner__right-btn {
        width: 90px;
        height: 36px;
        bottom: 24%;
        left: 7%;
    }
    .footer__footer-top-shop {
        margin-top: 30px;
    }
}
@media screen  and (max-width: 608px) {
    .header__menu-wrap-logo {
        left: 34%;
    }
    .header__shop-setting {
        margin-right: 6px;
    }
    .banner__left-text {
        font-size: 18px;
    }
    .banner__left-btn {
        width: 85px;
        height: 34px;
        right: 36px;
        bottom: 60px;
    }
    .banner__right-top-text{
        font-size: 12px;
        left: 15%;
    }
    .banner__right-bot-text{
        font-size: 12px;
        left: 7%;
    }
    .product-item {
        width: calc(50% - 30px);
    }
    .footer__footer-top-nav,
    .footer__footer-top-shop,
    .footer-top__shop-content {
        width: 100%;
    }
    .footer-top__nav-links {
        justify-content: center;
    }

    .footer-top__shop-content {
        text-align: center;
    }
    
    .footer-bot__items {
        width: 100%;
        display: block;
        position: relative;
    }
    .footer-bot__copy-right {
        position: absolute;
        bottom: 20px;
        left: 25%;
    }
    .footer__footer-card-payment {
        text-align: center;
        margin-top: 15px;
    }
    .footer__footer-card-payment i {
        font-size: 20px;
        margin: 0;
    }

}
@media screen  and (max-width: 586px) {
    .header__top-bar {
        display: block;
        text-align: center;
    }
    .header__top-bar-right {
        justify-content: center;
    }
    .footer-bot__copy-right {
        left: 22%;
    }

}
@media screen  and (max-width: 480px){
    .header__menu-wrap-logo {
        left: 26%;
    }
    .banner__left-btn {
        bottom: 25%;
    }
    .banner__right-btn {
        bottom: 36%;
    }
    .banner__right-top-text {
        font-size: 20px;
    }
    .banner__right-bot-text {
        font-size: 18px;
    }
    .banner{
        display: block;
        width: auto;
    }
    .banner__section-left {
        padding-bottom: 20px;
    }
    
    .banner__section-left,
    .banner__section-right {
        width: calc(100% - 30px);
        margin: auto;
        flex-direction: column;
    }
    .content-box.underlined {
        margin: 30px auto;
    }

    .slider__post-list {
        width: calc(100% - 30px);
    }
    .product-content,
    .product-colums {
        text-align: center;
    }
    .footer-bot__copy-right {
        left: 16%;
    }
}
@media screen and (max-width: 426px) {
    .footer-bot__copy-right {
        left: 12%;
    }
    
}
@media screen and (max-width: 390px) {
    .header__top-bar {
        height: auto;
    }

    .header__menu-wrap-logo {
        left: 18%;
    }
    .product-item{
        width: calc(100% - 30px);
    }
    .nav-left {
        margin-right: auto;
    }
    .footer-bot__copy-right {
        left: 8%;
    }
    
    
}
@media screen  and (max-width: 352px){
    .header__menu-wrap-logo {
        width: 50%;
        display: block;
        left: 16%;
    }
    .banner__left-text {
        font-size: 14px;
        bottom: 90px;
        right: 22px;
    }
    .banner__right-top-text {
        left: 40px;
    }
    .banner__right-bot-text {
        font-size: 18px;
    }
    .banner__right-btn {
        bottom: 60px;
        left: 34px;
    }
    .banner__section-left {
        padding-bottom: 20px;
    }
    
    .footer__footer-top-nav {
        margin: 0;
    }
    .footer-bot__copy-right {
        left: 1%;
    }
    .footer-bot__copy-right i span {
        margin: 0 2px;
    }
}

